.nav {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

.nav-links:visited {
  color: black;
}

.nav-links:hover {
  color: green;
}

.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-list {
  flex-basis: 400px;
  max-width: 70vw;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
